In [104]:
import pandas as pd
%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt

In [140]:
df = pd.read_csv("./Montreal AirBnb/listings.csv")
df2 = pd.read_csv("./Montreal AirBnb/calendar.csv")
df3 = pd.read_csv("./Montreal AirBnb/reviews.csv")

In [260]:
finaldf = pd.DataFrame()

In [324]:
finaldf["id"]= df["id"]
finaldf["lat"] = df["latitude"]
finaldf["long"] = df["longitude"]
finaldf["property_type"]=df["property_type"]
finaldf = labeler("property_type")
finaldf["room_type"] =df["room_type"]
finaldf = labeler("room_type")
finaldf["people"]=df["accommodates"]
finaldf["reviews"] = df["number_of_reviews"]
finaldf["bedrooms"] = df["bedrooms"]
finaldf["bathrooms"]=df["bathrooms"]
finaldf["no. beds"] = df["beds"]
finaldf["response rate"]= df["host_response_rate"].fillna(0)
finaldf["superhost"] = df["host_is_superhost"]
finaldf["verified identity"] = df["host_identity_verified"]
finaldf["neighbourhood"]=df["neighbourhood_cleansed"]
finaldf = labeler("neighbourhood")
finaldf["guests"]= df["guests_included"]
#final["guests charged"] = 
finaldf["min_nights"]=df["minimum_nights"]
finaldf["review rating"] = (df["review_scores_rating"]/100).fillna(0)
finaldf["instant bookable"]=df["instant_bookable"]
finaldf["cancellation_cat"] = df["cancellation_policy"]
finaldf = labeler("cancellation_cat")

#use lat long to count no. of competitiors with same radius(or square window)

#finaldf["price"]=df["price"]

finaldf = finaldf.replace({'superhost': {'t': 1, 'f': 0}})
finaldf = finaldf.replace({'verified identity': {'t': 1, 'f': 0}})
finaldf = finaldf.replace({'instant bookable':{'t':1, 'f':0}})
#finaldf = finaldf.replace({'cancellation policy':{'flexible':1,'moderate':2,'strict':3}})
#finaldf["cancellation_cat"] = finaldf["cancellation_cat"].astype('category')
#finaldf["cancellation_cat"] = finaldf["cancellation_cat"].cat.codes

In [325]:
#df2.fillna(-1)
#final["avg. price"] = 
pandas.set_option('display.max_columns', None)

In [326]:
def labeler(name):
    finaldf[name]=finaldf[name].astype('category')
    finaldf[name]=finaldf[name].cat.codes
    return finaldf

In [158]:
lat = finaldf["lat"]
long = finaldf["long"]

In [159]:
#finaldf.plot(kind = "scatter", x='lat', y='long', figsize=(20,10));

In [201]:
#finaldf.head()

In [202]:
#for i in range(0,111):
#    print("_________")
#    print(df2[(i*365):((i+1)*365)]["price"].dropna().describe())

In [358]:
pricedf = df2[(df2['date'] > '2016-11-01') & (df2['date'] < '2016-12-01')].dropna()
#pricedf =pricedf["unique" != True]
pricedf["id"]=pricedf["listing_id"]
pricedf["listing_id"]=pricedf["listing_id"].drop_duplicates()
pricedf = pricedf.dropna()
pricedf.head()
result = pd.merge(finaldf, pricedf, on="id")
result = result.drop(['listing_id', 'date', 'available'], axis = 1)
result["price"] = result["price"].replace(["\$", ','],"", regex=True).astype(float)
result["response rate"] = result["response rate"].replace(["%"],"", regex=True).astype(float)/100

result.head()

,id,lat,long,property_type,room_type,people,reviews,bedrooms,bathrooms,no. beds,response rate,superhost,verified identity,neighbourhood,guests,min_nights,review rating,instant bookable,cancellation_cat,price
0,543823,45.520141,-73.612950,0,0,4,8,2.0,1.0,2.0,1.0,0.0,1.0,20,2,1,0.96,0,3,105.0
1,753348,45.520140,-73.615520,0,0,6,3,2.0,1.0,2.0,1.0,0.0,1.0,20,1,2,0.90,0,3,60.0
2,152630,45.517190,-73.617988,0,0,3,2,2.0,1.0,3.0,1.0,0.0,0.0,20,3,5,0.80,0,3,110.0
3,1564714,45.522519,-73.609020,0,0,3,9,1.0,1.5,2.0,0.9,0.0,1.0,20,1,7,0.96,0,3,50.0
4,6502061,45.523733,-73.612290,0,1,2,19,1.0,1.0,1.0,1.0,0.0,0.0,20,1,1,0.95,1,2,48.0

# Result
So basically, we have the ID's, lat, long and then a bunch of columns of features(X vector) and then we have Price as the last column which will be our Y

This is done for Nov-Dec 2016.
Now to integrate with the other feature vectors and get the neural net working

In [263]:
#finaldf["neighbourhood"].unique()
#pd.get_dummies(finaldf["neighbourhood"],prefix=['neighbourhood'])

array([20, 11, 16, 29, 13,  8, 14, 18, 23, 24, 12, 26,  7, 10, 19,  9, 22,
        6,  0,  4,  1, 21, 15,  5, 25,  3, 30, 31, 17, 27, 28,  2])

pca, tsne, check features, go through feature selection algorithms
batch norm, dropout
xgboost, 3 layer 256 , relu, adamax, linear decay small, input then dropout
shuffle before feeding into network